USE [master]
GO
/****** Object:  Database [INVENTARIODB]    Script Date: 27/7/2022 8:17:06 p. m. ******/
CREATE DATABASE [INVENTARIODB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'INVENTARIODB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\INVENTARIODB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'INVENTARIODB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\INVENTARIODB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [INVENTARIODB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [INVENTARIODB]
GO
/****** Object:  Table [dbo].[Almacenes]    Script Date: 27/7/2022 8:17:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Almacenes](
	[IdAlmacenes] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Almacenes] PRIMARY KEY CLUSTERED 
(
	[IdAlmacenes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 27/7/2022 8:17:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[IdArticulos] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Existencia] [int] NULL,
	[Id_Tipo_Inve] [int] NULL,
	[Costo_unitario] [decimal](18, 2) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Articulos] PRIMARY KEY CLUSTERED 
(
	[IdArticulos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Cuenta]    Script Date: 27/7/2022 8:17:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Cuenta](
	[Id_TipoCuenta] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_cuenta] [varchar](50) NULL,
 CONSTRAINT [PK_Tipo_Cuenta] PRIMARY KEY CLUSTERED 
(
	[Id_TipoCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Inventario]    Script Date: 27/7/2022 8:17:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Inventario](
	[Id_Tipo_inv] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Cuenta_contable] [int] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Tipo_Inventario] PRIMARY KEY CLUSTERED 
(
	[Id_Tipo_inv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Almacenes] ON 

INSERT [dbo].[Almacenes] ([IdAlmacenes], [Descripcion], [Estado]) VALUES (1, N'Tecnologico', 1)
SET IDENTITY_INSERT [dbo].[Almacenes] OFF
GO
SET IDENTITY_INSERT [dbo].[Articulos] ON 

INSERT [dbo].[Articulos] ([IdArticulos], [Descripcion], [Existencia], [Id_Tipo_Inve], [Costo_unitario], [Estado]) VALUES (2, N'Laptos', 200, 1, CAST(44000.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[Articulos] ([IdArticulos], [Descripcion], [Existencia], [Id_Tipo_Inve], [Costo_unitario], [Estado]) VALUES (3, N'Bebedero', 120, 3, CAST(9999.99 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Articulos] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipo_Cuenta] ON 

INSERT [dbo].[Tipo_Cuenta] ([Id_TipoCuenta], [Tipo_cuenta]) VALUES (1, N'Credito')
INSERT [dbo].[Tipo_Cuenta] ([Id_TipoCuenta], [Tipo_cuenta]) VALUES (2, N'Debito')
SET IDENTITY_INSERT [dbo].[Tipo_Cuenta] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipo_Inventario] ON 

INSERT [dbo].[Tipo_Inventario] ([Id_Tipo_inv], [Descripcion], [Cuenta_contable], [Estado]) VALUES (1, N'Tecnologico', 1, 0)
INSERT [dbo].[Tipo_Inventario] ([Id_Tipo_inv], [Descripcion], [Cuenta_contable], [Estado]) VALUES (2, N'Fornitura', 2, 1)
INSERT [dbo].[Tipo_Inventario] ([Id_Tipo_inv], [Descripcion], [Cuenta_contable], [Estado]) VALUES (3, N'Electrodomésticos', 2, 1)
SET IDENTITY_INSERT [dbo].[Tipo_Inventario] OFF
GO
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD  CONSTRAINT [FK_Articulos_Tipo_Inventario] FOREIGN KEY([Id_Tipo_Inve])
REFERENCES [dbo].[Tipo_Inventario] ([Id_Tipo_inv])
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [FK_Articulos_Tipo_Inventario]
GO
ALTER TABLE [dbo].[Tipo_Inventario]  WITH CHECK ADD  CONSTRAINT [FK_Tipo_Inventario_Tipo_Cuenta] FOREIGN KEY([Cuenta_contable])
REFERENCES [dbo].[Tipo_Cuenta] ([Id_TipoCuenta])
GO
ALTER TABLE [dbo].[Tipo_Inventario] CHECK CONSTRAINT [FK_Tipo_Inventario_Tipo_Cuenta]
GO
USE [master]
GO
